:root {
  $color-azul: #007bff;
  $indigo: #6610f2;
  $purple: #6f42c1;
  $pink: #e83e8c;
  $red: #dc3545;
  $orange: #fd7e14;
  $yellow: #ffc107;
  $green: #28a745;
  $teal: #20c997;
  $cyan: #17a2b8;
  $white: #fff;
  $gray: #6c757d;
  $gray-dark: #343a40;
  $primary: #007bff;
  $secondary: #6c757d;
  $success: #28a745;
  $info: #17a2b8;
  $warning: #ffc107;
  $danger: #dc3545;
  $light: #f8f9fa;
  $dark: #343a40;
  $blue: #51b5ef;
  $dark-grey: #252525;
  $grey-dark: #262626;
  $grey-light: #f8f8f8;
  $footer-bg-color: #252525;
  $text-color-light: #a9a6a6;
  $text-color-white: #ffffff;
  $color-white: #ffffff;
  $color-dark: #262626;
  $color-red: #ff0000;
  $gradient-cyan: cyan;
  $gradient-purple: purple;
  $overlay-bg: rgba(62, 103, 205, 0.9);

  $background-dark: #262626;
  $background-light: #ffffff;
  $bg-image: '../images/app-bg.jpg';

  $btn-2-color: $dark;
  $btn-2-hover: $dark;

  $text-color: #959494;
  $dark-bg: #2e2d2d;
  $placeholder-grey: rgba(35, 9, 9, 0.6);
}
