$left-angle-url: url(../images/left-angle.png);
$right-angle-url: url(../images/right-angle.png);
$prev-black-url: url(../images/prev-black.png);
$prev-grey-url: url(../images/prev-grey.png);
$next-black-url: url(../images/next-black.png);
$next-grey-url: url(../images/next-grey.png);