.grid {
    border: 2px blue solid;
    width: 100%;
    height: 98vh;
    grid-template-columns: 10% 30% 30% 40%;
    grid-template-rows: 5% 22% 25% 30% 25%;
    display: grid;
}
  
.box {
    color: black;
    border-radius: 5px;
    border: 2px green solid;
}

.a {
    grid-column-start: 1;
    grid-column-end:  4;
    grid-row-start: 1;
    height: 100%;
    width: 142%;
}

.b {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    height: 123%;
    width: 100%;
}

.c {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 80%;
    width: 142%;
    margin:5%;
}

.d {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    height: 90%;
    width: 90%;
    margin-top: 5%;
    margin-left: 9%;
}

.e {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    height: 90%;
    width: 170%;
    margin-top: 5%;
    margin-left: 9%;
}

.f {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    height: 60%;
    width: 70%;
    margin-top: 5%;
    margin-left: 9%;
}

.g {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:5;
    grid-row-end: 5;
    height: 40%;
    width: 90%;
    margin-top: 5%;
    margin-left: 9%;
}

.h {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    height: 63%;
    width: 70%;
    margin-top: 40%;
    margin-left: 9%;
}

.i {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 118%;
    width: 70%;
    margin-top: 4%;
    
}