@mixin layout-padding($top: 25px, $bottom: 25px) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin layout-margin($size: 25px) {
  margin: $size 0;
}

@mixin flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flex-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-center($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin button-style($bg-color, $text-color, $border-color: $bg-color) {
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $border-color;
  padding: 10px 0px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 10px;

  &:hover {
    background-color: transparent;
    color: $border-color;
  }
}
