:root {
  $color-azul: #007bff;
  $indigo: #6610f2;
  $purple: #6f42c1;
  $pink: #e83e8c;
  $red: #dc3545;
  $orange: #fd7e14;
  $yellow: #ffc107;
  $green: #28a745;
  $teal: #20c997;
  $cyan: #17a2b8;
  $white: #fff;
  $gray: #6c757d;
  $gray-dark: #343a40;
  $primary: #007bff;
  $secondary: #6c757d;
  $success: #28a745;
  $info: #17a2b8;
  $warning: #ffc107;
  $danger: #dc3545;
  $light: #f8f9fa;
  $dark: #343a40;
  $blue: #51b5ef;
  $dark-grey: #252525;
  $grey-dark: #262626;
  $grey-light: #f8f8f8;
  $footer-bg-color: #252525;
  $text-color-light: #a9a6a6;
  $text-color-white: #ffffff;
  $color-white: #ffffff;
  $color-dark: #262626;
  $color-red: #ff0000;
  $gradient-cyan: cyan;
  $gradient-purple: purple;
  $overlay-bg: rgba(62, 103, 205, 0.9);

  $background-dark: #262626;
  $background-light: #ffffff;
  $bg-image: '../images/app-bg.jpg';

  $padding-top: 45px;
  $padding-bottom: 90px;
  $padding-left: 10%;
  $padding-small: 10px;
  $padding-medium: 25px;
  $padding-large: 45px;
  $padding-button: 8px 35px;
  $padding-top-large: 60px;
  $margin-small: 10px;
  $margin-medium: 25px;
  $margin-medium: 30px;
  $margin-large: 45px;
  $margin-bottom-large: 35px;
  $margin-right-small: 10px;
  $margin-footer: 25px;
  $padding-footer: 20px;
  $box-margin-left: -95px;
  $box-shadow: 2px 10px 25px 0 rgba(0, 0, 0, 0.1);
  $border-color: #c2c2c2;
  $border-width: 10px;
  $border-radius: 25px;
  $slider-height: calc(100% - 80px);
  $img-box-height: 135px;
  $carousel-height: 550px;
  $control-size: 40px;
  $carousel-icon-size: 50px;
  $font-size-large: 1.5em;
  $bg-size: 100% 86%;
  $left-angle-url: url(../images/left-angle.png);
  $right-angle-url: url(../images/right-angle.png);
  $prev-black-url: url(../images/prev-black.png);
  $prev-grey-url: url(../images/prev-grey.png);
  $next-black-url: url(../images/next-black.png);
  $next-grey-url: url(../images/next-grey.png);

  $font-family: "Roboto", sans-serif;
  $font-title: 'American Typewriter', sans-serif;
  $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  $font-large: 22px;
  $font-bold: bold;
  $font-uppercase: uppercase;
  $label-font-size: 24px;

  $btn-width: 180px;
  $button-padding: 10px 0px;
  $btn-width: 180px;
  $btn-1-color: $primary;
  $btn-1-hover: #252525;
  $btn-2-color: $dark;
  $btn-2-hover: $dark;

  $text-color: #cdcbcd;
  $text-color: #959494;
  $dark-bg: #2e2d2d;
  $placeholder-grey: rgba(35, 9, 9, 0.6);
}
